@font-face {
  font-family: "cochin";
  src:url("fonts/cochin.ttc");
}

* {
  margin: 0;
  padding: 0;
}

.bgvideo {
  position: fixed;
  width: 700%;
  height: auto;
}

#header {
    position: fixed;

    top: 250px;
    left: 0px;

    width: 100vw;
    height: auto;

    font-size: 50px;
    font-family: 'cochin';
    line-height: 2em;
    color: black;
    text-align: center;
}

#header:hover {
    cursor:url("images/yellow.png");
}

#works-container {
  padding-top: 100px;
  width: 50vw;
  height: auto;
  text-align: center;
}

  #header h1 { font-size: 100px; line-height: 2em; margin-bottom: 0 }

  #subtitle {
    position: absolute;
    top:195px;
    left: 370px;
    max-height: 32px
  }

  #subtitle2 {
    position: absolute;
    top: 185px;
    left: 780px;
    max-height: 45px;

  }

  #subtitle3 {
    max-height: 50px;
    position: absolute;
    top: 180px;
    left: 570px;
  }


@media screen and (max-width:800px) {
  #header h1 { font-size: 12.5vw; line-height: 2em; margin-bottom: 0 }
  #subtitle { max-height: 4.5vw }
  #subtitle2 { max-height: 7.5vw }
  #subtitle3 { max-height: 6vw }
}
