* {
  margin: 0;
  padding: 0;
}

#headers {
  position: fixed;

  top: 0px;
  left: 0px;

  width: 100vw;
  height: auto;

  font-size: 17px;
  font-family: 'cochin';
  line-height: 2em;
  color: black;
  text-align: center;
  cursor: url(Imagez/purple.png);
  text-decoration: none;
}

#headers a { position: relative; color: #000; text-decoration: none }

#headers a:hover {
  color: rgb(121, 147, 242);
  cursor: url(Imagez/purple.png);
}

#headers:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: green;
  cursor: url(images/purple.png);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#aboutme {
  position: fixed;
  width: 300px;
  height: auto;
  left: 60px;
  top: 70px;
}

#cv {
  position: fixed;
  width: 300px;
  height: auto;
  left: 50px;
  top: 350px;
}

#header h1 { font-size: 100px; line-height: 2em; margin-bottom: 0 }
#subtitle { max-height: 32px }
