* {
  margin: 0;
  padding: 10px;
}

* { cursor: url(images/purple.png), auto }
a:hover { cursor: url(images/yellow.png), auto }

#header {
    z-index: 2;
    position: fixed;

    top: -20px;
    left: 0;

    width: 100vw;
    height: auto;

    font-size: 17px;
    font-family: 'cochin';
    line-height: 2em;
    color: black;
    font-weight: bold;
    text-align: center;
    cursor: url("images/purple.png");
}

#subtitle {
  position: absolute;
  width: 70px;
  top: 60px;
  left: 600px;

}



#header:hover {
    cursor:url("images/yellow.png");
}

#slider {
    overflow: hidden;
}

#slider figure {
  position: fixed;
  width: 250%;
  height: auto;
  margin: 0;
  top: 80px;
  left: 0;
  animation: 20s slider infinite;
  white-space: nowrap;
}

#slider figure img {
  width: 10%;
  float: left;
  transition: height .25s;
}
#slider figure img.zoomed-in {
  width: auto !important;
  height: 800px !important;
  max-height: calc(100vh - 100px - 2em);
}

@keyframes slider {
  0% {
    left: 0;
  }
  15% {
    left: 0;
  }
  35% {
    left:-70%;
  }
  55% {
    left:-100%;
  }
  65% {
    left:-100%;
  }
  90% {
    left:-150%;
  }


}
